
DANIEL ALMEIDA DO NASCIMENTO
08:02 (há 0 minuto)
para mim

:root{
    --branco-principal: white;
    --botao-azul: blue;
    --cor-de-fundo: black;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);

}

.principal{
    background-image: url("Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.principal-botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 16px;
}
.principal-botao-2{
    background-color: transparent;
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 16px;
}