:root{
    --branco-principal: white;
    --botao-azul: blue;
    --cor-de-fundo: black;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);

}

.principal{
    background-image: url("Background (1).png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.principal-botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 16px;
    text-decoration: none;
    display: block;
}
.principal-botao-2{
    background-color: transparent;
    border: 1px solid var(--branco-principal);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 16px;
    text-decoration: none;
    display: block;
}